@import "./partials/_variables.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
    body {
        background-color: #000;
    }
}

header {
    display: flex;
    background-color: rgba(187, 187, 187, 0.15);
    padding: 2% 0 0 2%;
    .logo {
        align-self: flex-start;
        margin-right: auto;
    }
    nav {
        align-items: flex-end;
        margin: 1% 2% 0 0;
        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            &:hover{
                border-radius: 15px;
                background-color: rgba(99, 99, 99, 0.5);
            }
        }
        a#top {
            text-decoration: underline;
            text-underline-offset: 50%;
        }
        a#contact {
            background-color: $main-color;
            border-radius: 15px;
        }
        
    }
}

.hero {
    .hero-bg {
        background-image: url("../Images/hero.jpg");
        background-size: cover;
    }
    .hero-text {
        text-align: center;
        font-family: 'Astronika';
        color: white;
        font-size: 8vw;
    }
    .hero-buttons {
        display: flex;
        justify-content: space-between;
        margin: auto 40% auto 40%;
        .button {
            background-color: $main-color;
            border: 3px solid #333;
            text-align: center;
            padding: 1vh 0.75vw;
            border-radius: 16px;
        }
    }
}

.panel {
    border-top: 1px solid #000;
    background-color: beige;
    display: flex;
    #panel1-left {
        display: flex;
        padding: 5vh;
        background-color: $main-color;
        align-items: center;
        justify-content: center;
        border-right: solid #000;
        width: 30%;
        #bend {
            background-image: url(../Images/bend.jpg);
            height: 350px;
            width: 350px;
            background-size: cover;
            background-position: 0 40%;
        }
    }
    #panel1-right {
        display: flex;
        flex-flow: column wrap;
        h2 {
            color: $main-color;
            font-size: 3vw;
            position: relative;
                top: 3vh;
                left: 1.75vw;
        }
        #keep-scrolling {
            position: relative;
                top: 30vh;
                left: 1.75vw;
        }
    }
}

.portfolio {
    display: flex;
    height: 100vh;
    overflow: hidden;
    .marquee {
        font-size: 35vh;
        align-self: center;
        justify-self: center;
        -webkit-text-stroke: 7px $main-color;
        color: beige;
    }
}

section {
    overflow-x: hidden;
    .record-collection {
        white-space: nowrap;
        z-index: 0;
        .albumcover, .first-albumcover {
            @include albumCover();
        }
        .first-albumcover {
            position: relative;
            z-index: 20;
        }
        .albumcover {
            position: relative;
            &:hover {
                transform: rotate(-2deg) translate(333px);
                transition-timing-function: ease-in;
                transition-duration: 0.3s;
                transform-origin: 0 100%;
            }
        }
        #album-0 {
            background-image: url("../Images/tictactoe.jpg");
            background-size: cover;
        }
        #album-1 {
            background-image: url("../Images/gallery.jpg");
            background-size: cover;
        }
        #album-2 {
            background-image: url("../Images/calculator.jpg");
            background-size: cover;
        }
        #album-3 {
            background-image: url("../Images/business.jpg");
            background-size: cover;
        }
        #album-4 {
            background-image: url("https://coverartarchive.org/release/a5839dc7-4419-4277-a6fc-f8edebac4d49/979861011-250.jpg");
            background-size: cover;
        }
        #album-5 {
            background-image: url("https://coverartarchive.org/release/672d8c35-24f6-499e-b378-70397b876f97/16311779496-250.jpg");
            background-size: cover;
        }
        #album-6 {
            background-image: url("https://coverartarchive.org/release/3c506edb-a0fd-4a6e-9111-743dce63e4d0/11547633135-250.jpg");
            background-size: cover;
        }
        #album-7 {
            background-image: url("https://coverartarchive.org/release/88ab7a5c-fd27-421e-85f0-f107ed86a43f/21986047480-250.jpg");
            background-size: cover;
        }
        #album-8 {
            background-image: url("https://coverartarchive.org/release/bb772ff7-7ed8-435b-9bfe-90df819fa605/2342278124-250.jpg");
            background-size: cover;
        }
        #album-9 {
            background-image: url("https://coverartarchive.org/release/f6758afb-ecff-410e-8979-b131cfa3c6d3/4114654841-250.jpg");
            background-size: cover;
        }
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        /* Modal Content/Box */
        .modal-content {
            background-color: rgba(255, 236, 215, 0.9);
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 2px solid #888;
            width: 50vw; /* Could be more or less, depending on screen size */
            /* The Close Button */
            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                &:hover, &:focus {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            #album-0 {
                height: 400px;
                width: 400px;
                background-image: url(../Images/tictactoe.jpg);
                background-size: cover;
            }
            #modal-logos {
                display: flex;
                justify-content: space-between;
                margin: auto 40% auto 40%;
                img {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}

footer {
    background-color: $main-color;
    padding: 2% 15% 2% 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}